node_modules
**/node_modules
dist
**/dist
.next
**/.next
uploads
**/uploads
.env
.env.*
!.env.example
*.log
.git
.github
.husky
coverage
**/*.tsbuildinfo
.DS_Store
README.md
TODO.md
CHANGELOG.md
LICENSE
docker-compose*.yml
**/__tests__
**/test
**/*.spec.ts
**/*.e2e-spec.ts
